*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;

}
body{
    background-color: #2C3333;
}
ul{
    list-style: none;
    background-color: black;
    color: aqua;
    text-align: end;
    padding: 30px;
      
}
li{
    display: inline;
    padding: 25px;
    color: blue;
}
li:hover{
    color: rgb(91, 181, 26);
    cursor: pointer;
}
ul.li.a{
    color: aqua;
}